* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #060b13;
    color: #333;
    line-height: 1.6;
}

#main-header {
    background-color: #09192f;
    color: white;
    padding: 20px;
    text-align: center;
}

#main-header h1 {
    margin-bottom: 10px;
    font-size: 28px;
}

.nav-menu {
    list-style: none;
}

.nav-menu li {
    display: inline;
    margin: 0 15px;
}

.nav-menu a {
    color: #64ffda;
    text-decoration: none;
    font-weight: bold;
}

.nav-menu a:hover {
    text-decoration: underline;
}

/*Layout Wrapper*/

.container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
}

main {
    flex: 3;
    margin-right: 20px;
}

.post {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.post img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.sidebar {
    flex: 1;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    height: fit-content;
    
}

.sidebar h3 {
    color: #0a192f;
    margin-bottom: 10px;
    border-bottom: 2px solid #64ffda;
    padding-bottom: 5px;
}

.sidebar ul {
    list-style: none;
    margin-bottom: 15px;
}

.sidebar a {
    text-decoration: none;
    color: #0078d7;
}

#main-footer {
    background-color: #0a192f;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

#main-footer a {
    color: #64ffda;
    text-decoration: none;

}

#main-footer a:hover {
    text-decoration: underline;
}

/*Responsive Design*/
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        margin-top: 15px;
}
    
}